body
{
    margin: 0%;
    background-color: white;
    display: flex;
}

.model
{
    opacity: 0.9;
    width: 100%;
    margin-top: 10%;
    /* position: fixed; */
    background-size: cover;
    display: flex;
    /* position: fixed; */
}

nav
{
    background-color: black;
    position: fixed;
    display: flex;
}

.navbar-brand
{
    width: 20%;
    height: 20%;
}

.logo
{
    width: 100%;
    border-radius: 50%;
}

.heading
{
    width: 50%;
    font-size: 50px;
    /* display: flex; */
    color: rgb(218, 180, 12);
    font-family:'pacifico',cursive;
    font-weight: bold;
}

.navbar-nav
{
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}

/* .navbar-expand-lg
{
    background-color: brown;
} */



.navbar-dark .navbar-nav .nav-link 
{
    color: white;
}

.navbar-toggler
{
    border: none;
    padding: 10px 6px;
    outline: none;
    /* background-color: blue; */
}


.main{
    position: absolute;
    top:45%;
    left: 10%;
    
}
.main p{
    font-size: 30px;
    line-height: 55px;
    align-items: center;
    justify-content: center;
    color:black;
    width:70%;
}
.btn i{
    padding-left:10px;
}
.btn a{
    color:var(--primary-color);
    text-decoration: none;
}

@media only screen and (max-width: 420px) 
{
    .navbar
    {
        margin: 0%;
        padding: 0%;
    }

    body
    {
        padding: 0px 0px 0px 0px;
    }

    .model
    {
        height: 100%;
        width: 100%; 
        display: flex;
        background-size: cover; 
    }

    .heading
    {
        width: 60%;
        font-size: 30px;
    }

    .main
    {
        position: absolute;
    }  

    .navbar-nav 
    {
        background-color: rgba(8, 10, 8, 0.836);
    }

    .nav-item
    {
        margin-left: 10px;
    }

    .navbar-dark .navbar-nav .nav-link 
    {
        color:rgb(218, 180, 12);
    }

    h2 .heading-decorate
    {
        font-size: 48px;
        font-family: fantasy;
    }

    .block-xs
    {
    justify-content: center;
    padding: 10px;
    }

    .shadow-img
    {
        padding-right: 200px;
    }
    
}

@media only screen and (max-width: 600px) 
{
    .navbar
    {
        margin: 0%;
        padding: 0%;
    }

    body
    {
        padding: 0px 0px 0px 0px;
    }
    .model
    {
        height: 100%;
        width: 100%; 
        background-size: cover;
        display: flex; 
        /* position: fixed; */
    }

    .heading
    {
        width: 60%;
        font-size: 30px;
    }

    .main
    {
        position: absolute;
    }  
    .navbar-nav 
    {
        background-color: rgba(8, 10, 8, 0.836);
    }

    .nav-item
    {
        margin-left: 10px;
    }

    .navbar-dark .navbar-nav .nav-link 
    {
        color:rgb(218, 180, 12);
    }

    h2 .heading-decorate
    {
        font-size: 48px;
        font-family: fantasy;
    }

    .block-xs
    {
    justify-content: center;
    padding: 10px;
    }

    .shadow-img
    {
        padding-right: 200px;
    }
    
}


.container-fluid
{
    padding: 50px;
}


.text-gray-800
{
    color: black;
    font-size: 22px;
    line-height: 1.5;
}

.heading-decorate
{
    font-size: 48px;
    font-family: fantasy;
}

p
{
font-size: 17px;
color: #9b9b9b;
font-weight: 500;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 2;
}

.second-btn .btn-outline-secondary
{
    border: 2px solid pink;
    color: black;
}

.second-btn .btn-outline-secondary:hover
{
    border: 2px solid pink;
    background-color: pink;
}

