
body
{
    margin: 0%;
}

.model
{
    opacity: 0.9;
    width: 100%;
    margin-top: 10%;
    position: fixed;
    background-size: cover;
    display: flex;
    /* position: fixed; */
}

nav
{
    background-color: black;
    position: fixed;
    display: flex;
}

.navbar-brand
{
    width: 20%;
    height: 20%;
}
.logo
{
    width: 100%;
    border-radius: 50%;
}
.heading
{
    width: 50%;
    font-size: 50px;
    /* display: flex; */
    color: rgb(218, 180, 12);
    font-family:'pacifico',cursive;
    font-weight: bold;
}
.navbar-nav
{
    width: 100%;
    justify-content: space-between;
    font-size: 20px;
}
.navbar-nav a:hover
{
    border:1px rgb(19, 217, 252) solid;
}

.navbar-dark .navbar-nav .nav-link 
{
    color: white;
}

.navbar-toggler
{
    border: none;
    padding: 10px 6px;
    outline: none;
}


.main{
    position: absolute;
    top:45%;
    left: 10%;
    
}
.main p{
    font-size: 30px;
    line-height: 55px;
    align-items: center;
    justify-content: center;
    color:#6b6902;
    width:70%;
}
.btn i{
    padding-left:10px;
}
.btn a{
    color:var(--primary-color);
    text-decoration: none;
}

@media only screen and (max-width: 600px) 
{
    /* nav
    {
        position: fixed;
    } */
    body
    {
        margin: 0%;
    }
    .model
    {
        height: 70%;
        display: flex;
        position: fixed;
    }

    .heading
    {
        width: 60%;
        font-size: 30px;
    }

    .main
    {
        position: absolute;
        /* top:45%; */
        /* margin-top: -20%; */
    }  
}